**/__pycache__
.vs*
launch.json
.DS*
# Python
*.py[cod]
*.so
*.egg-info/
dist/
build/
__pycache__/

# Virtual environments
venv/
env/
env.bak/
env1/
env2/
.python-version

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.eclipse/
pydevproject/